* {
    box-sizing: border-box;
    
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    min-height: 100vh;
    button {
        background: rebeccapurple;
        border: none;
        color: white;
        position: fixed;
        top: 20px;
        right: 20px;
        padding: 1rem;
        transition: .4s ease-in-out;
    };
    button.active {
        transform: translateX(-100px);
    };
    nav {
        position: fixed;
        height: 100vh;
        top: 0;
        right: 0;
        background-color: rebeccapurple;
        padding: 2rem;
        transform: translateX(100px);
        transition: .4s ease-in-out;
        ul {
            padding: 0;
            list-style-type: none;
            li {
                padding: 2rem 0;
                color: white;
                a {
                    text-decoration: none;
                };
            };
            
        };
        
    };
    nav.active {
        transform: translateX(0);
    };
};

